:root {
    --text-light: 0, 0, 0;
    --background-light: 245, 239, 229;
    --primary-light: 190, 39, 19;
    --secondary-light: 249, 229, 190;
    --accent-light: 213, 140, 21;

    --text-dark: 255, 255, 255;
    --background-dark: 26, 20, 10;
    --primary-dark: 236, 85, 65;
    --secondary-dark: 65, 46, 6;
    --accent-dark: 234, 160, 42;
}  


html[data-theme="light"] {
        --text: var(--text-light);
        --background: var(--background-light);
        --primary: var(--primary-light);
        --secondary: var(--secondary-light);
        --accent: var(--accent-light);
}

html[data-theme="dark"] {
        --text: var(--text-dark);
        --background: var(--background-dark);
        --primary: var(--primary-dark);
        --secondary: var(--secondary-dark);
        --accent: var(--accent-dark);
}


body, #sidebar, .infobox, .blur{
    display: flex;
    color: rgba(var(--text));
    overflow-x: hidden;
    transition: color 1s;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgba(var(--background));
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    transition: background-color 1s;
}

header{
    top: 5px;
    left: 10px;
    position: fixed;
    border-radius: 50px;
    background: rgba(var(--background), 1);
    border: 3px outset rgb(var(--accent));
    z-index: 10;
    opacity: 20%;
    transition: opacity 5s;
}

header:hover{
    background-color: rgb(var(--accent));
    opacity: 1;
    transition : 0.5s;
}

#sidebar{
    border: 3px hidden;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    top: 25vh;
    width: auto;
    transform: translateX(-92%);
    height: 50%;
    box-shadow: 5px 3px 3px #DDDDDD33;
    background: radial-gradient(circle at center, rgba(var(--primary), .8), rgba(var(--accent), 1) 100%);
    z-index: 10;
    opacity: 20%;
    transition: opacity 5s, transform 0.5s;
}


#sidebar:hover {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.5s;
    cursor: pointer;
}

#sidebar ul{
    flex-direction: column;
}

.infobox ul{
    flex-direction: column;
    gap: 10px;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(var(--text));
    font-size: 20px;
}

img{
    padding: 10px 10px 10px 10px;
}

.navoption img{
    width: 40px;
}


a:hover img{
    background-color: rgba(var(--accent), .3);
    border-radius: 10px;
    color: rgba(var(--background));
    cursor: pointer;
}


#themebttn{
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(var(--accent));
}

#themebttn:hover{
    background-color: rgb(var(--secondary));
}

#navbarlogo{
    background: -webkit-linear-gradient(bottom right, rgba(var(--text)) 0%, rgba(var(--accent)) 50%,rgba(var(--primary)) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    padding: 5px;   
}


h1{
    background: -webkit-linear-gradient(bottom right, rgba(var(--text)) 0%, rgba(var(--accent)) 50%,rgba(var(--primary)) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
}

.infobox {
    background: rgb(var(--accent));
    border-radius: 5px;
    padding: 0;
    width: 100vw;
    text-align: center;
    align-items: center;

    font-size: 3em;
    min-height: 5em;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
}

.infobox.win{
    background-image: url('win/media/bliss.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 70%;
    text-align: center;
    padding-top: 3em;
    color: black;
}

.infobox.mac{
    background-image: url('macos/media/110.jpg');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top: 3em;
    color: black;
}

.infobox.linux{
    background-image: url('media/kA0mENQ.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    text-align: center;
    padding-top: 3em;
}

.infobox.other{
    background-image: url('media/demo-amiga.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    text-align: center;
    padding-top: 3em;
}

footer{
    width: 100%;
    background: rgba(var(--secondary), 255);
    height: 50px;
}


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: none;
  }
  
::-webkit-scrollbar-thumb {
    background: rgb(var(--accent));
    border-radius: 25px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--primary), 255);
  }

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-20%);
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.infobox.hidden.left{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
}

.infobox.hidden.right{
    opacity: 0;
    transition: all 1s;
    transform: translateX(+100%);
}

.infobox.show, .infobox.show.left, .infobox.show.right{
    opacity: 1;
    transform: translateX(0);
}