@font-face {
    font-family: 'FixedSys';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('fonts/fixedsys.woff') format('woff'),
      url('fonts/fixedsys.ttf') format('ttf');
}

@font-face {
    font-family: 'MS-sans-serif';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('fonts/ms-sans-serif-1.woff') format('woff'),
      url('fonts/ms-sans-serif-1.ttf') format('ttf');
}

:root {
    --text-light: 0, 0, 0;
    --background-light: 245, 239, 229;
    --primary-light: 190, 39, 19;
    --secondary-light: 249, 229, 190;
    --accent-light: 213, 140, 21;

    --text-dark: 255, 255, 255;
    --background-dark: 26, 20, 10;
    --primary-dark: 236, 85, 65;
    --secondary-dark: 65, 46, 6;
    --accent-dark: 234, 160, 42;
}  


html[data-theme="light"] {
        --text: var(--text-light);
        --background: var(--background-light);
        --primary: var(--primary-light);
        --secondary: var(--secondary-light);
        --accent: var(--accent-light);
        --window-one: white;
        --window-two: #f5f6f8;
        --eleven: url("media/win11lightwall.jpg");
}

html[data-theme="dark"] {
        --text: var(--text-dark);
        --background: var(--background-dark);
        --primary: var(--primary-dark);
        --secondary: var(--secondary-dark);
        --accent: var(--accent-dark);
        --window-one: black;
        --window-two: #202020;
        --eleven: url("media/win11darkwall.jpg");
}

body, #sidebar, .chapter, .blur, #deadspace{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: rgba(var(--text));
    overflow-x: hidden;
}

body{
    background-color: rgba(var(--background));
    flex-direction: column;
    margin: 0;
}

header{
    top: 5px;
    left: 10px;
    position: fixed;
    border-radius: 50px;
    background: rgba(var(--background), 1);
    border: 3px outset rgb(var(--accent));
    z-index: 10;
}

#sidebar{
    border: 3px hidden;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    top: 25vh;
    width: auto;
    transform: translateX(-92%);
    height: 50%;
    box-shadow: 5px 3px 3px #DDDDDD33;
    background: radial-gradient(circle at center, rgba(var(--primary), .8), rgba(var(--accent), 1) 100%);
    z-index: 10;
    transition: 0.5s;
}

#sidebar:hover {
    transform: translateX(0%);
    transition: 0.5s;
    cursor: pointer;
}

#sidebar ul{
    flex-direction: column;
}


li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(var(--text));
    font-size: 20px;
}

img{
    padding: 10px 10px 10px 10px;
}

.navoption img{
    width: 40px;
}


a:hover img{
    background-color: rgba(var(--accent), .3);
    border-radius: 10px;
    color: rgba(var(--background));
    cursor: pointer;
}


#themebttn{
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(var(--accent));
}

#themebttn:hover{
    background-color: rgb(var(--secondary));
}

#navbarlogo{
    background: -webkit-linear-gradient(bottom right, rgba(var(--text)) 0%, rgba(var(--accent)) 50%,rgba(var(--primary)) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    padding: 5px;   
}

h1{
    font-size: 10vw;
}

h1.zero{
    color: white;
}

h1.one{
    color: black;
}

#deadspace{
    height: 45em;
    background: black;
    color: lightgray;
    justify-content: center;
    padding-bottom: 200px;
}

.chapter, #deadspace{
    text-align: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}


#arrow{
    width: 1.5em;
    margin: 0;
    padding: 0;
}

.media.header{
    padding: 3em 0 3em 0;
}

.txtcontent {
    padding: 20px;
    margin-bottom: 50vh;
    font-size: 25px;
    width: 70%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.media{
    max-width: 60vw;
    padding: 10px;
    display: inline;
}


.txtcontent > .left{
    float: left;
    margin-right: 0;
    max-width: 25vw;
}

.txtcontent > .right{
    float: right;
    margin-left: 0;
    max-width: 25vw;
}

.txtcontent > .center{
    margin: center;
}


.chapter.zero{
    background-color: black;
    font-family: 'Times New Roman',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.txtcontent.zero{
    background: black;
    color: white;
}

.media.zero{
    border: 5px double white;
    margin: 10px;
}

.chapter.one{
    background-color: #55ff55;
    font-family: 'FixedSys' ,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.one{
    background: white;
    color: black;
    border: 20px solid #797ae8;
    text-align: left;
}


.media.one{
    background: #ffff55;
}

.chapter.two{
    background-color: #55aaaa;
    font-family: 'MS-sans-serif' ,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.two{
    background: white;
    color: black;
    border: 10px ridge #c3c7cb;
    text-align: left;
}

.media.two{
    background: #0000aa;
}

.chapter.three, .chapter.four{
    background-color: #008080;
    font-family: 'MS-sans-serif' ,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.three, .txtcontent.four{
    background: #ffffe1;
    color: black;
    border: 5px ridge #7e7e7e;
    text-align: left;
}

.media.three, .media.four{
    background: #0000aa;
}

.chapter.five{
    background-image: url("media/bliss.jpg");
    background-attachment: fixed;
    font-family: 'Tahoma' ,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.five{
    background: white;
    color: black;
    border: 3px ridge #245ddc;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font-size: 18px;
}

.media.five{
    border: 5px ridge #245ddc;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

button{
    border-radius: 50%;
    display: inline;
    padding: 5em;
    background: linear-gradient(to bottom right, red 0% , darkred);
    border: 3px ridge darkred;
}

.chapter.six{
    background-image: url("media/vistawall.jpg");
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.six{
    background: white;
    color: black;
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.media.six{
    padding: 0;
}

.blur{
    width: 70%;
    padding: 40px 5px 5px 5px;
    backdrop-filter: blur(3px);
    background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%); 
    background-attachment: fixed;
    margin: 0 0 40vh 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.blur > .media{
    width: 100%;
}

.txtcontent .blur{
    width: fit-content;
    margin: 10px;
}

.chapter.seven{
    background-image: url("media/win7wall.jpg");
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.seven{
    background: white;
    color: black;
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.media.seven{
    padding: 0;
}

.chapter.eight{
    background-image: url("media/win8wall.jpg");
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.eight{
    background: white;
    color: black;
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.media.eight{
    padding: 0;
}

.blur.eight{
    background: #69afe9;
}

.chapter.nine{
    background-image: url("media/win10wall.jpeg");
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.nine{
    background: var(--window-one);
    color: rgb(var(--text));
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}


.media.nine{
    padding: 0;
}

.blur.nine{
    background: var(--window-two);
}

.chapter.ten{
    background-image: var(--eleven);
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.txtcontent.ten{
    background: var(--window-one);
    color: rgb(var(--text));
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.media.ten{
    padding: 0;
}

.blur.ten{
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
}

.blur.header.ten{
    margin-bottom: 3em;
    justify-content: center;
    padding-bottom: 1.5em;
    margin-top: 3em;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-20%);
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.media.hidden.left{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-20%);
}

.media.hidden.right{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-20%);
}

.media.show{
    opacity: 1;
    transform: translateX(0);
}

.txtcontent > .media:hover, .txtcontent > .blur:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.popup.blur{
    margin: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    transition : .5s;
}

.popup span{
    position: absolute;
    top: 20px;
    right : 20px;
    padding-bottom: .3em;
    border-radius: 20px;
    background: rgba(var(--accent), .8);
    color: rgb(var(--text));
    font-size: 3em;
    font-weight: bolder;
    transition: .2s;
}

.popup span:hover{
    cursor: pointer;
    background: rgba(var(--primary), .8);
}

.popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: fill;
    transition: 1s;
}