@font-face {
    font-family: 'Unifont';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('fonts/unifont.woff') format('woff');
  }

@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('fonts/Cantarell-Regular.woff') format('woff'),
      url('fonts/Cantarell-Regular.ttf') format('ttf');
  }

:root {
    --text-light: 0, 0, 0;
    --background-light: 245, 239, 229;
    --primary-light: 190, 39, 19;
    --secondary-light: 249, 229, 190;
    --accent-light: 213, 140, 21;

    --text-dark: 255, 255, 255;
    --background-dark: 26, 20, 10;
    --primary-dark: 236, 85, 65;
    --secondary-dark: 65, 46, 6;
    --accent-dark: 234, 160, 42;
}  


html[data-theme="light"] {
        --text: var(--text-light);
        --background: var(--background-light);
        --primary: var(--primary-light);
        --secondary: var(--secondary-light);
        --accent: var(--accent-light);
}

html[data-theme="dark"] {
        --text: var(--text-dark);
        --background: var(--background-dark);
        --primary: var(--primary-dark);
        --secondary: var(--secondary-dark);
        --accent: var(--accent-dark);
}

body, 
#sidebar, 
.chapter,
#deadspace, 
.quote, 
.window, 
.windowtwo, 
.windowthree, 
.windowfour,
.windowfive{
    display: flex;
    color: white;
    overflow-x: hidden;
    transition: color 1s;
}

body, #sidebar, #deadspace{
    font-family:'CP437','Courier New', Courier, monospace;
}

body{
    background-color: rgba(var(--background));
    flex-direction: column;
    margin: 0;
    transition: background-color 1s;
}

header{
    top: 5px;
    left: 10px;
    position: fixed;
    border-radius: 50px;
    background: rgba(var(--background), 1);
    border: 3px outset rgb(var(--accent));
    z-index: 10;
    opacity: 20%;
    transition: opacity 5s;
}

header:hover{
    background-color: rgb(var(--accent));
    opacity: 1;
    transition : 0.5s;
}

#sidebar{
    border: 3px hidden;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    top: 25vh;
    width: auto;
    transform: translateX(-92%);
    height: 50%;
    box-shadow: 5px 3px 3px #DDDDDD33;
    background: radial-gradient(circle at center, rgba(var(--primary), .8), rgba(var(--accent), 1) 100%);
    z-index: 10;
    opacity: 20%;
    transition: opacity 5s, transform 0.5s;
}

#sidebar:hover {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.5s;
    cursor: pointer;
}

#sidebar ul{
    flex-direction: column;
}


li, a{
    text-decoration: none;
    list-style: none;
    color: rgba(var(--text));
    font-size: 20px;
}

img{
    padding: 10px 10px 10px 10px;
}

.navoption img{
    width: 40px;
}


a:hover img{
    background-color: rgba(var(--accent), .3);
    border-radius: 10px;
    color: rgba(var(--background));
    cursor: pointer;
}


#themebttn{
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(var(--accent));
}

#themebttn:hover{
    background-color: rgb(var(--secondary));
}

#navbarlogo{
    background: -webkit-linear-gradient(bottom right, rgba(var(--text)) 0%, rgba(var(--accent)) 50%,rgba(var(--primary)) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    padding: 5px;   
}

h1{
    font-size: 10vw;
    color: white;
}

h1.two{
    font-size: 8vw;
    color: black;
}

#deadspace{
    height: 45em;
    background: black;
    color: lightgray;
    justify-content: center;
    padding-bottom: 200px;
}

.chapter, #deadspace{
    text-align: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}


#arrow{
    width: 1.5em;
    margin: 0;
    padding: 0;
}

.media.header{
    padding: 3em 0 3em 0;
    min-width: 30vw;
}

.txtcontent {
    padding: 20px;
    margin-bottom: 50vh;
    font-size: 25px;
    width: 70%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.media{
    max-width: 60vw;
    padding: 10px;
    display: inline;
}


.txtcontent > .left{
    float: left;
    margin-right: 20px;
    margin-left: 0;
    max-width: 20vw;
}

.txtcontent > .right{
    float: right;
    margin-left: 20px;
    margin-right: 0;
    max-width: 20vw;
}

.media.center{
    max-width: 70vw;
    max-height: 50vw;
    min-width: 80%;
    align-self: center;
    display: inline-block;
}

.middle{
    text-align: center;
}

.chapter.zero{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.txtcontent.zero{
    background: black;
    color: white;
}

.media.zero{
    border: 5px double white;
    margin: 10px;
}

.media.header.zero{
    border: none;
    width: 10em;
}

.chapter.one{
    background: black;
    color: white;
}

.txtcontent.one{
    background: black;
    color: white;
    border: 2px solid black;
    box-shadow: 10px 10px black;
    text-align: left;
}


.media.one{
    padding: 0;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}

.usr{
    color: lightgreen;
    font-weight: bolder;
}

.quote{
    text-align: center;
    flex-direction: column;
}

button{
    border-radius: 5px;
    display: inline;
    padding: 5em;
    background: #a68967;
    border: 1px outset black;
    box-shadow: 0 0 3px black;
}

button a{
    color: black;
}

button:hover{
    background: #b68967;
}

.chapter.two{
    background: linear-gradient(to top, #525a67, #bfc7dc);
    font-family: 'Unifont','Courier New', Courier, monospace;
}

.chapter.three{
    background: black;
    font-family: 'Unifont','Courier New', Courier, monospace;   
}

.chapter.four{
    background: linear-gradient(to bottom right, #01b4a7, #018080);
    font-family: 'Unifont','Courier New', Courier, monospace;   
}

.chapter.five{
    background-image: url('media/ubuntu4wall.webp');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cantarell','Unifont','Courier New', Courier, monospace;
}

.chapter.six{
    background-image: url('media/androidwall.webp');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Cantarell','Unifont','Courier New', Courier, monospace;
}

.window{
    padding: 30px 5px 5px 5px;
    background-color: #e7ac82;
    border: 3px outset #d5b08e;
    background-attachment: fixed;
    margin-bottom: 10em;
}

.windowtwo{
    padding: 30px 5px 5px 5px;
    background-color: #b13060;
    border: 3px outset silver;
    background-attachment: fixed;
    margin-bottom: 10em;
}

.windowthree{
    max-width: 70vw;
    padding: 30px 5px 5px 5px;
    background-color: #d6ceb9;
    border: 3px outset silver;
    background-attachment: fixed;
    margin-bottom: 10em;
    margin-top: 10em;
}

.windowfour{
    max-width: 70vw;
    padding: 30px 2px 2px 2px;
    background-color: #a68967;
    border: 3px solid black;
    border-radius: 5px;
    background-attachment: fixed;
    margin-bottom: 10em;
    margin-top: 10em;
}

.windowfive{
    max-width: 70vw;
    padding: 10px 5px 5px 5px;
    background-attachment: fixed;
    background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, #9c9c9c  0%, 
    #c1c1c1 47%,
    #c7c7c7 50%,
    #bcbcbc 53%,
    #9c9c9c 100%);
    box-shadow: 0 0 10px black;
    border: 3px solid black;
    border-radius: 5px;
    background-attachment: fixed;
    margin-bottom: 10em;
    margin-top: 10em;
}

.txtcontent.two{
    background: white;
    border: 3px inset silver;
    box-shadow: none;
    color: black;
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.txtcontent.three{
    background: white;
    border: 3px inset silver;
    box-shadow: none;
    color: black;
    text-align: left;
    border-radius: 3px;
    width: max-content;
    margin: 0;
    font-size: 18px;
}

.txtcontent .window, 
.txtcontent .windowtwo, 
.txtcontent .windowthree, 
.txtcontent .windowfour,
.txtcontent .windowfive{
    width: fit-content;
    border: 0;
    margin: auto;
}


.window > .media{
    border: 3px inset #f6b8b5;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

.windowtwo > .media, 
.windowthree > .media, 
.windowfour > .media,
.windowfive > .media{
    border: 3px inset silver;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

button{
    border-radius: 5px;
    display: inline;
    padding: 5em;
    background: white;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
}

button a{
    color: black;
}

button:hover{
    background: lightgrey;
}

.blur{
    width: 70%;
    padding: 40px 5px 5px 5px;
    backdrop-filter: blur(3px);
    background: repeating-linear-gradient(45deg, rgba(25,40,55,0.75) 35%, rgba(65,85,100,0.75) 40%, rgba(65,85,100,0.75) 42%, rgba(25,40,55,0.75) 50%, rgba(25,40,55,0.75) 55%, rgba(70,85,100,0.75) 60%, rgba(70,85,100,0.75) 75%, rgba(25,40,55,0.75) 90%); 
    background-attachment: fixed;
    margin: 0 0 40vh 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.blur > .media{
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-20%);
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.media.hidden.left{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-20%);
}

.media.hidden.right{
    opacity: 0;
    transition: all 1s;
    transform: translateX(+20%);
}

.media.show, .media.show.left, .media.show.right{
    opacity: 1;
    transform: translateX(0);
}

.txtcontent > .media:hover,
 .txtcontent > .window:hover,
 .txtcontent > .windowtwo:hover,
 .txtcontent > .windowthree:hover, 
.txtcontent > .windowfour:hover,
.txtcontent > .windowfive:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.popup.blur{
    margin: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup span{
    position: absolute;
    top: 20px;
    right : 20px;
    padding-bottom: .3em;
    border-radius: 20px;
    background: rgba(var(--accent), .8);
    color: rgb(var(--text));
    font-size: 3em;
    font-weight: bolder;
    transition: .2s;
    z-index: 101;
}

.popup span:hover{
    cursor: pointer;
    background: rgba(var(--primary), .8);
}

.popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    min-width: 40%;
    min-height: 40%;
    object-fit: contain;
}